%p こんにちわ #{@resource.email} 様
%p パスワードの変更リクエストがありました。
%p パスワードの変更をしたい場合は、下記リンクから新しいパスワードを設定してください。
%p
%p= link_to 'パスワード変更', edit_password_url(@resource, reset_password_token: @token)
%p
%p このメールに覚えがないときは無視してください。
