- flash.each do |type, message|
  - unless message == true
    .alert.fade.in{ class: "#{bootstrap_class_for(type)}" }
      %button.close{ "data-dismiss" => "alert", "aria-hidden" => "true" }x
      = message
